.grid-x.center
  .medium-6.cell
    %h1 Resend confirmation instructions

    = form_with model: resource, as: resource_name, url: confirmation_path(resource_name),
    html: { method: :post }, local: true, data: { turbo: false } do |f|
      = render 'notifications/error_messages', object: f.object

      = f.label :email
      = f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)

      = f.submit 'Resend confirmation instructions', class: 'button'

    %p= render 'devise/shared/links'
