= form_for @recipe do |f|
  = render 'notifications/error_messages', object: f.object
  = f.hidden_field :image, value: f.object.cached_image_data

  .callout
    .row
      .small-12.columns
        %label
          Check all categories that apply or
          = succeed '.' do
            = link_to 'create your own', new_category_path
        %ul.menu.simple
          = f.collection_check_boxes :category_ids, Category.all, :id, :name do |b|
            %li= b.label(data:{value: b.value}) { b.check_box + b.text }
    .row
      .medium-6.columns
        = f.label :name
        = f.text_field :name, placeholder: 'Apple Pie'
        %br/
        = f.label :description
        = f.text_area :description, placeholder: 'The best apple pie you will ever eat.', rows: '2'

      .medium-6.columns
        = f.label :image, 'Upload image (landscape for best results)'
        = f.file_field :image

        - if f.object.image_data?
          = image_tag f.object.image_url(:medium)
          .row
            .small-12.columns
              = f.check_box :remove_image
              = f.label :remove_image

  = render 'parts/fields_for_form', f: f

  .row
    .small-12.columns
      = f.submit class: 'button'
