= form_with model: @recipe, local: true do |f|
  = render 'notifications/error_messages', object: f.object

  .callout
    .grid-x
      .small-12.cell
        %label
          It's important to check all categories that apply to make it easy for others to find or
          = succeed '.' do
            = link_to 'create your own', new_category_path, method: :get, data: { confirm: 'All unsaved changes will be lost.' }
        %ul.menu.simple
          = f.collection_check_boxes :category_ids, Category.all, :id, :name do |b|
            %li= b.label(data:{value: b.value}) { b.check_box + b.text }
    .grid-x
      .medium-6.cell
        = f.label :name
        = f.text_field :name, placeholder: 'Apple Pie'
        %br/
        = f.label :description
        = f.text_area :description, placeholder: 'The best apple pie you will ever eat.', rows: '2'
        %br/
        = f.label :source, 'Be sure to give credit where credit is due. Name the recipe source'
        = f.text_field :source, placeholder: 'cookbook, website or person'

      .medium-6.cell
        = f.label :image, 'Upload image (landscape for best results)'
        = f.file_field :image, direct_upload: true,
        accept: 'image/png,image/gif,image/jpeg'

        - if f.object.image.attached?
          = image_tag medium_image(f.object.image)
          -# .grid-x
          -#   .small-12.cell
          -#     = f.check_box :remove_image
          -#     = f.label :remove_image

  #parts= render 'parts/fields_for_form', f: f

  .grid-x
    .small-12.cell
      %b Publish
      recipe or save
      as
      %b Draft
      %br/
      so recipe is
      only visable to you
      .switch.large
        = f.check_box :published, id: 'published', class: 'switch-input'
        = f.label :published, class: 'switch-paddle', for: 'published' do
          %span.switch-active{"aria-hidden" => "true"} Publish
          %span.switch-inactive{"aria-hidden" => "true"} Draft
      = f.submit class: 'button'
