.callout
  = turbo_frame_tag dom_id(@category) do
    = link_to "Add Category", new_category_path, class: "btn btn-warning btn-sm mb-3"
  = form_with model: recipe, url: (recipe.new_record? ? user_recipes_path(current_user.slug) : user_recipe_path(recipe.user.slug, recipe.slug)), local: true, data: { turbo: false, controller: "ocr" } do |f|
    = render 'notifications/error_messages', object: f.object
    .row
      .col-12
        %label
          It's important to
          %b check all categories that apply
          or
          %b create your own category
          to make it easy for others to find.
        = turbo_frame_tag "categories" do
          %ul#check_boxes.nav.mb-3
            - Category.all.each do |category|
              = render 'categories/check_box', recipe: recipe, category: category
    .row
      .col-md-6.mb-3
        = f.label :name, class: "form-label", for: "recipeName"
        = f.text_field :name, placeholder: 'Apple Pie', id: "recipeName", class: "form-control"
      .col-md-6.mb-3
        = f.label :source, class: "form-label", for: "recipeSource"
        = f.text_field :source, placeholder: 'cookbook, website or person',
        id: "recipeSource", class: "form-control"
    .row
      .col-md-6.mb-3
        = label_tag :convert_image, class: "form-label" do
          = t("convert_image.label_html")
        = file_field_tag :convert_image, class: "form-control",
        data: { ocr_target: 'file', action: "change->ocr#upload" }
    .hidden{data: { ocr_target: "hidden" }}
      .row
        .col-md-6.mb-3
          = image_tag "", class: 'object-cover img-thumbnail max-image-height', 
          data: { ocr_target: "canvas" }
        .col-12.mb-3
          = label_tag :output, t("convert_image.output"), class: "form-label"
          = text_area_tag :output, nil, class: "form-control", rows: 10,
          data: { ocr_target: 'imageDescription' }, class: "form-control"
    .row
      .col-12.mb-3
        = f.label :description, class: "form-label", for: "recipeDescription"
        = f.rich_text_area :description, placeholder: 'The best apple pie you will ever eat.',
        rows: '5', id: "recipeDescription", class: "form-control"

    #parts= render 'parts/fields_for_form', f: f

    .row
      .col-12
        %b Publish
        recipe or save
        as
        %b Draft
        so recipe is
        only visable to you in your cookbook
    .row
      .col-12
        .form-check.form-check-inline.mb-3
          = f.radio_button :published, "true", class: "form-check-input", id: "pubTrue"
          = f.label :published, "Publish", value: "true", class: "form-check-label", for: "pubTrue"
        .form-check.form-check-inline.mb-3
          = f.radio_button :published, "false", class: "form-check-input", id: "pubFalse"
          = f.label :published, "Draft", value: "false", class: "form-check-label", for: "pubFalse"
    .row
      .col-12
        = f.submit class: 'btn btn-primary'
