.medium-6.cell.end
  = link_to recipe do
    .banner
      - if recipe.recipe_images.try(:first).try(:image).try(:attached?)
        = image_tag banner_image(recipe.recipe_images.first.image)
      .highlight-text.content

        - if recipe.favoritisms.count > 0
          .float-right
            .red-text
              %i.fa.fa-heart
              = recipe.liked_users.count
        %h4= recipe.name
        %small
          (
          posted by:
          = recipe.user.username
          )
        %p
          = recipe.description
