.mb-3
  .likely
    .twitter Tweet
    .facebook Share
    .pinterest{data: { media: "#{recipe.recipe_images.first.image.url if recipe.recipe_images.try(:first).try(:image).try(:attached?)}" }} Pin
    .telegram Send
    -# .email.likely__widget
    -#   = mail_to nil, nil,
    -#   subject: "Recipedia | #{recipe.user.username}'s #{recipe.name}",
    -#   body: "Go checkout #{recipe.user.username}'s #{recipe.name} on Recipedia. \n \n #{recipe_url(recipe)}" do
    -#     %span.likely__icon
    -#       %i.fas.fa-envelope
    -#     %span.likely__button
    -#       Email
