- provide(:title, "Let's cook together")

.row.justify-content-center
  .col-md-8
    .center-text
      .title Recipedia
.row.mb-3
  .col
    .nav-buttons
      = link_to categories_path, class: 'btn btn-warning' do
        %i.fa.fa-list
        Browse by categories
      = link_to new_recipe_path, class: 'btn btn-danger' do
        %i.fa.fa-plus-circle
        Add a recipe
= turbo_stream_from "reviews"
.row
  .col
    %h1 Latest Recipes
.row
  = render @recipes
.row
  .col
    = paginate @recipes
