- provide :title, 'Likes'

.row.mb-3
  .col-md-6.col-lg-5
    = render 'users/follow_header', user: @recipe.user
  .col-md-6.col-lg-7
    %h3= @recipe.name
    %h5.red-text= pluralize(@recipe.liked_users.count, 'Like')
    .d-flex.flex-column.user-list
      = render @recipe.liked_users
.row
  .col-12
    %ul.nav-links
      %li= link_to 'Back to recipe', user_recipe_path(@recipe.user.slug, @recipe.slug)
