- provide(:title, @recipe.name)

.row
  .small-12.columns
    %p
      %b Name:
      = @recipe.name
    %p
      %b Description:
      = @recipe.description

    %p
      %b Assigned Categories:
      = links_to_categories(@recipe)

    = link_to 'Edit', edit_recipe_path(@recipe)
    \|
    = link_to 'Back', recipes_path
