- provide(:title, @recipe.name)

.row
  .small-12.columns
    .float-right
      = link_to 'Edit', edit_recipe_path(@recipe)
      or
      = link_to 'Destroy', @recipe, method: :delete, data: { confirm: 'Are you sure?' }
      Recipe
.row
  .small-12.columns
    %p
      %b Name:
      = @recipe.name
    %p
      %b Description:
      = @recipe.description

    %p
      %b Assigned Categories:
      = links_to_categories(@recipe)

    %p
      %b Ingredients:
      = @recipe.ingredients_list

    = link_to 'Home', categories_path
    \|
    = link_to 'Recipes', recipes_path
