- provide(:title, @recipe.name)

- if @recipe.user == current_user
  .row
    .small-12.columns
      .float-right
        = link_to 'Edit', edit_recipe_path(@recipe)
        or
        = link_to 'Destroy', @recipe, method: :delete, data: { confirm: 'Are you sure?' }
        your Recipe

.row
  .small-12.columns
    %p
      %b Assigned Categories:
      = links_to_categories(@recipe)
.row
  .medium-7.columns
    - if signed_in? && current_user != @recipe.user
      %h5= render 'recipes/favor_form', recipe: @recipe
    - else
      = link_to new_user_session_path do
        %i.fa.fa-sign-in
        Log in
      or
      = link_to new_user_registration_path do
        %i.fa.fa-user-plus
        Sign up
      to Add to Favorites

    %h1
      = @recipe.name
    %ul.menu.simple
      %li
        %span
          %b Posted by:
          = link_to @recipe.user.username, user_path(@recipe.user)
      - if @recipe.source?
        %li
          %b Source:
          = @recipe.source
    %p
      = @recipe.description
  .medium-5.columns
    .center= image_tag @recipe.image_url(:large), class: 'max-image-height' if @recipe.image_data?

.row
  .small-12.columns
    %h4 Ingredients:
    .callout
      - @recipe.parts.each do |part|
        - if @recipe.parts.count > 1
          %h4= part.name
        = render part.ingredients
        %br/

    %h4 Steps:
    .callout
      - @recipe.parts.each do |part|
        - if @recipe.parts.count > 1
          %h4= part.name
        - part.steps.each_with_index do |step, index|
          %span.red-text= "#{index += 1}."
          = step.description
          %br/
        %br/

    = link_to 'Recipes', recipes_path
