- provide(:title, @recipe.name)

.hide-on-print
  .grid-x
    .cell
      .ul.menu.float-right.pad-bottom
        .likely
          %li.twitter Tweet
          %li.facebook Share
          %li.pinterest{data: { media: "#{@recipe.images.first.service_url if @recipe.images.attached?}" }} Pin
          %li.telegram Send
          %li.email.likely__widget
            = mail_to nil,
            subject: "Recipedia | #{@recipe.user.username}'s #{@recipe.name}",
            body: "Go checkout #{@recipe.user.username}'s #{@recipe.name} on Recipedia. \n \n #{recipe_url(@recipe)}" do
              %span.likely__icon
                %i.fas.fa-envelope
              %span.likely__button
                Email
  - if is_author?(@recipe.user)
    .grid-x
      .small-12.cell
        .float-right
          = link_to 'Edit', edit_recipe_path(@recipe)
          or
          = link_to 'Destroy', @recipe, method: :delete, data: { confirm: 'Are you sure?' }
          your Recipe

.grid-x
  .small-12.cell
    %p
      %b Assigned Categories:
      = links_to_categories(@recipe)

.grid-x
  .medium-7.cell
    .hide-on-print
      - if user_signed_in? && !is_author?(@recipe.user)
        %h4= render 'recipes/favor_form', recipe: @recipe
      - elsif !user_signed_in?
        = link_to log_in_recipe_path(@recipe) do
          %i.fa.fa-sign-in-alt
          Log in to add to favorites
          %i.red-text.fa.fa-heart
      #recipe_likes_count= render 'recipes/likes_count', recipe: @recipe

    %h1= @recipe.name
    = link_to user_path(@recipe.user) do
      = image_tag avatar_image(@recipe.user.avatar, 150) if @recipe.user.avatar.attached?
      %p
        %b Posted by:
        = @recipe.user.username
    .hide-on-print= render 'relationships/form', user: @recipe.user, recipe: @recipe
    - if @recipe.source?
      %p
        %b Source:
        = @recipe.source
    %b Description:
    .autolinks= simple_format(@recipe.description)
  .medium-5.cell
    .center
      - if @recipe.images.attached?
        = link_to rails_blob_path @image, class: 'max-image-height' do
          = image_tag medium_image(@image)
        %br/
        - @recipe.images.each do |image|
          = link_to recipe_path(@recipe, image: image) do
            = image_tag avatar_image(image, 80)
.grid-x
  .small-12.cell
    - if @recipe.ingredients.any?
      %h4 Ingredients:
      .callout
        - @recipe.parts.each do |part|
          - if @recipe.parts.count > 1
            %h4= part.name
          = render part.ingredients
          %br/

    - if @recipe.steps.any?
      %h4 Steps:
      .callout
        - @recipe.parts.each do |part|
          - if @recipe.parts.count > 1
            %h4= part.name
          - part.steps.each_with_index do |step, index|
            %span.red-text= "#{index += 1}."
            = step.description
            %br/
          %br/

.hide-on-print
  .grid-x
    .small-12.cell
      %ul.nav-links
        %li= link_to 'All Recipes', recipes_path

      = render 'reviews/reviews', recipe: @recipe, review: @review
