- unless is_author?(user)
  %div{id: "follow_form_for_#{user.id}"}
    - if !user_signed_in?
      - if defined?(recipe)
        = link_to log_in_recipe_path(recipe), class: 'hollow button secondary' do
          %i.fa.fa-sign-in-alt
          Log in to follow
      - else
        = button_to log_in_user_path(user), class: "hollow button secondary", method: :get do
          %i.fa.fa-sign-in-alt
          Log in to follow
    - elsif current_user.following?(user)
      = render 'relationships/unfollow', user: user
    - else
      = render 'relationships/follow', user: user
