- provide :title, 'Notification settings'

.row
  .col
    %h1 Notification settings

    = form_with model: @notification_setting,
    url: update_settings_notifications_path, id: 'notification_settings',
    local: true, data: { turbo: false } do |f|
      = render 'notifications/error_messages', object: f.object

      .field.form-check.mb-3
        = f.check_box :receive_email, id: 'receive_email', class: "form-check-input"
        = f.label :receive_email, for: 'receive_email', class: "form-check-label"
      %hr/
      .field.form-check.mb-3
        = f.check_box :recipe_created, id: 'recipe_created', class: "form-check-input"
        = f.label :recipe_created, for: 'recipe_created', class: "form-check-label"
      .field.form-check.mb-3
        = f.check_box :image_uploaded, id: 'image_uploaded', class: "form-check-input"
        = f.label :image_uploaded, for: 'image_uploaded', class: "form-check-label"
      .field.form-check.mb-3
        = f.check_box :review_created, id: 'review_created', class: "form-check-input"
        = f.label :review_created, for: 'review_created', class: "form-check-label"
      .field.form-check.mb-3
        = f.check_box :follows_you, id: 'follows_you', class: "form-check-input"
        = f.label :follows_you, for: 'follows_you', class: "form-check-label"
      .field.form-check.mb-3
        = f.check_box :recipe_favored, id: 'recipe_favored', class: "form-check-input"
        = f.label :recipe_favored, for: 'recipe_favored', class: "form-check-label"
      .actions.mb-3
        = f.submit class: 'btn btn-primary'
