= form_with model: user, local: true, multipart: true do |f|
  = render 'notifications/error_messages', object: f.object
  .row
    .col
      = f.label :avatar
      = f.file_field :avatar, direct_upload: true,
      accept: 'image/png,image/gif,image/jpeg'
  .row
    .col-md-4
      %p
        - if f.object.avatar.attached?
          = image_tag avatar_image(f.object.avatar, 300)
          .row
            .col
              = f.check_box :remove_avatar, id: 'user_remove_image'
              = f.label :remove_avatar, for: 'user_remove_image'
        - else
          %i.fas.fa-user.default-avatar-300
    .col-md-8
      = f.fields_for :info do |info_f|
        = info_f.label :body
        = info_f.text_area :body, rows: 10
  .row
    .col
      = f.submit class: 'button'
