- provide :title, 'The Cook'

.grid-x
  .small-12.cell
    = link_to new_recipe_path, class: 'float-right button alert' do
      %i.fa.fa-plus-circle
      Add a recipe
.grid-x
  .cell.small-12
    .callout-transparent
      - if is_author?(@user)
        .grid-x
          .cell
            = link_to edit_user_path(@user), class: "float-right" do
              %i.fas.fa-edit
              Edit about you
      .grid-x
        .cell
          .center-text
            %h1.no-background #{@user.username}'s Cookbook
      .grid-x
        .cell.medium-5.large-3
          .center-text
            = render 'users/profile_stats', user: @user, size: 150
        .cell.medium-7.large-9
          = render 'relationships/form', user: @user
          .autolinks= simple_format(@user.info.body) if @user.info
- if @user == current_user && @user.recipes.by_unpublished.any?
  .grid-x
    .small-12.cell
      %h4 Unpublished Drafts
      .grid-x
        = render @user.recipes.by_unpublished
- if @user.recipes.by_published.any?
  .grid-x
    .small-12.cell
      %h4 Submitted Recipes
      .grid-x
        = render @user.recipes.by_published
- if @user.favorite_recipes.any?
  .grid-x
    .small-12.cell
      %h4 Favorites
      .grid-x
        = render @user.favorite_recipes
