.grid-x
  .small-12.cell
    .float-right
      = link_to new_recipe_path do
        %i.fa.fa-plus-circle
        Add a recipe
    %h1
      #{@user.username}'s Cookbook

    - if @user == current_user && @user.recipes.by_unpublished.any?
      %h4 Unpublished Drafts
      .grid-x
        = render @user.recipes.by_unpublished

    %h4 Submitted Recipes
    .grid-x
      = render @user.recipes.by_published

.grid-x
  .small-12.cell
    %h4 Favorites
.grid-x
  = render @user.favoritisms.map(&:recipe)
