- provide :title, 'The Cook'

.row
  .col
    = link_to new_recipe_path, class: 'float-right button alert' do
      %i.fa.fa-plus-circle
      Add a recipe
.row
  .col
    .callout-transparent
      - if is_author?(@user)
        .row
          .col
            = link_to edit_user_path(@user), class: "float-right" do
              %i.fas.fa-edit
              Edit about you
      .row
        .col
          .center-text
            %h1.no-background #{@user.username}'s Cookbook
      .row
        .col-md-5.col-lg-3
          .center-text
            = render 'users/profile_stats', user: @user, size: 150
        .col-md-7.col-lg-9
          = render 'relationships/form', user: @user
          %p
            = link_to user_path(@user, anchor: 'submitted') do
              Submitted:
              = @user.recipes.by_published.count
            %br/
            = link_to user_path(@user, anchor: 'favorites') do
              Favorites:
              = @user.favorite_recipes.count
          .autolinks= simple_format(@user.info.body) if @user.info
- if @user == current_user && @user.recipes.by_unpublished.any?
  .row
    .col
      %h3 Unpublished Drafts
      .row
        = render @user.recipes.by_unpublished
- if @user.recipes.by_published.any?
  .row
    .col
      %h3#submitted Submitted Recipes
      .row
        = render @user.recipes.by_published
- if @user.favorite_recipes.any?
  .row
    .col
      %h3#favorites Favorites
      .row
        = render @user.favorite_recipes
