.nested-fields
  .callout-on-small-only
    .row
      .medium-1.medium-push-11.columns
        .inline-large-icon
          = link_to_remove_association f, class: 'red-text' do
            %i.fa.fa-trash
            %span.show-for-small-only
              Remove
      .medium-5.medium-pull-1.columns
        = f.label :quantity
        = f.text_field :quantity, placeholder: '1 cup'
      .medium-6.medium-pull-1.columns
        = f.label :item
        = f.text_field :item, placeholder: 'all-purpose flour '
