.nested-fields
  .callout-on-small-only
    .row
      .small-6.medium-4.columns
        = f.label :quantity
        = f.text_field :quantity, placeholder: '1 cup'
      .small-6.medium-5.columns
        = f.label :item
        = f.text_field :item, placeholder: 'all-purpose flour '
      .medium-3.columns
        = link_to_remove_association 'remove', f, class: 'hollow button inline-button-on-medium alert expanded'
