.nested-fields
  .callout-on-small-only
    .row
      .col-lg-1.order-lg-3.mb-3
        .inline-large-icon
          = link_to_remove_association f, class: 'red-text' do
            %i.fa.fa-trash
            %span.hide-on-large
              Remove
      .col-lg-5.order-lg-1.mb-3
        = f.label :quantity, class: "form-label"
        = f.text_field :quantity, placeholder: '1 cup', class: 'autofocus-on-new form-control'
      .col-lg-6.order-lg-2.mb-3
        = f.label :item, class: "form-label"
        = f.text_field :item, placeholder: 'all-purpose flour', class: "form-control"
