= turbo_stream.replace "recipe_average_rating_#{@recipe.id}" do
  = render partial: "ratings/average", locals: { recipe: @recipe }

= turbo_stream.replace "recipe_rating_form_#{@recipe.id}" do
  = render partial: "ratings/form", locals: { recipe: @recipe, user_rating: @rating }

- @recipe.reviews.where(user: current_user).each do |review|
  = turbo_stream.replace dom_id(review) do
    = render partial: "reviews/review", locals: { review: review }
