= form_with model: [@recipe, @recipe_image], local: true do |f|
  .grid-x
    .medium-6.cell
      .callout-transparent
        = render 'notifications/error_messages', object: f.object
        = f.label :image, 'Upload image'
        .small.italic
          Landscape for best results.
          %br/
          Don't leave page until upload is complete.
        = f.file_field :image, direct_upload: true,
        accept: 'image/png,image/gif,image/jpeg'
        %br/
        = f.submit 'Upload Image', class: 'button'
      %p= link_to 'Finished Editing', @recipe, class: 'button warning'

    - if @recipe.recipe_images
      - @recipe.recipe_images.by_original_first.each do |recipe_image|
        - if recipe_image.image.attached?
          .medium-3.cell
            = link_to recipe_image.user do
              Uploaded by:
              %b= recipe_image.user.username
            .thumbnail
              %p= image_tag medium_image(recipe_image.image)
              - if is_author?(@recipe.user) || is_author?(recipe_image.user)
                %br/
                .center-text
                  = link_to 'Remove Image', [@recipe, recipe_image],
                  class: 'alert button tiny',
                  data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }
