.nested-fields
  .callout-on-small-only
    .row
      .col-lg-11.order-lg-2
        .row
          .col-sm-12.col-lg-1.mb-3
            .slide
              %i.fa.fa-arrows-alt-v.large
          .col-sm-3.col-lg-2.mb-3
            = f.label :step_order, class: "form-label", for: "stepOrder"
            = f.number_field :step_order, class: 'stepOrderField form-control',
            readonly: true, id: "stepOrder"
          .col-sm-9.col-lg-9.mb-3
            = f.label :description, class: "form-label", for: "stepDesc"
            = f.text_area :description, rows: 2, placeholder: 'Heat oven to 425°F',
            class: 'autofocus-on-last form-control', id: "stepDesc"
      .col-lg-1.order-lg-1.mb-3
        .inline-large-icon
          = link_to_remove_association f, class: 'red-text' do
            %i.fa.fa-trash
            %span.hide-on-large
              Remove
