.small-12.medium-6.cell
  = link_to category do
    .banner
      - @recipe_with_image = category.recipes.last_with_image(@used_recipes)
      - if @recipe_with_image.try(:recipe_images).try(:first).try(:image).try(:attached?)
        = image_tag banner_image(@recipe_with_image.recipe_images.first.image)
      - else
        = image_tag "default_recipe_image.svg", size: "600x400"
      .highlight-text.content
        %h3
          = category.name
          .float-right= category.recipes.by_published.count
      - @used_recipes << @recipe_with_image.try(:id)
