= form_for @category do |f|
  = render 'notifications/error_messages', object: f.object

  .row
    .small-6.columns
      = f.label :name
      = f.text_field :name

  .row
    .small-12.columns
      = f.submit class: 'button'
