= form_for @category do |f|
  = render 'notifications/error_messages', object: f.object

  .grid-x
    .small-6.cell
      = f.label :name
      = f.text_field :name

  .grid-x
    .small-12.cell
      = f.submit class: 'button'
