= form_with model: category, id: dom_id(category, "form"), local: false do |f|
  = render 'notifications/error_messages', object: f.object

  .row
    .col-md-8.col-lg-6
      .input-group.mb-3
        %span#cat-name.input-group-text= f.label :name, 'Category name'
        = f.text_field :name, class: 'form-control', aria: { describedby: "cat-name" }
        .input-group-button= f.submit class: 'btn btn-primary'
    .col-md-4.col-lg-6
      .mb-3= link_to 'Cancel', "#", class: "btn btn-warning"
