- provide(:title, 'Edit Category')

.grid-x
  .small-12.cell
    %small.float-right
      Last Modified
      = @category.updated_at.strftime('%m-%d-%Y')
      by
      = @category.user.username
.grid-x
  .small-12.cell
    %h1
      Editing category

    = render 'form'

    = link_to 'Categories', categories_path
    \|
    = link_to 'Show', @category
