- provide(:title, 'Edit Category')

.grid-x
  .small-12.cell
    %small.float-right
      Last Modified
      = @category.updated_at.strftime('%m-%d-%Y')
      by
      = link_to @category.user.username, @category.user
.grid-x
  .small-12.cell
    %h1
      Editing category

    = render 'form'

    %ul.menu.nav-links
      %li= link_to 'Back', @category
      %li= link_to 'All Categories', categories_path
