- provide(:title, 'Edit Category')

= turbo_frame_tag dom_id(@category) do
  .row
    .col
      %small.float-end
        Last Modified
        = @category.updated_at.strftime('%m-%d-%Y')
        by
        = link_to @category.user.username, @category.user, data: { turbo_frame: "_top" }
  .row
    .col
      %p
        %b Available Categories:
        = @categories.list_names

      %h1 Editing category

      = render 'form', category: @category
