- provide(:title, 'Categories')

.row
  .col-12
    %ul.nav-button-links
      %li
        = link_to recipes_path, class: 'btn btn-warning' do
          %i.fa.fa-list
          Browse latest recipes
      %ul
        %li
          = link_to new_category_path, class: 'btn btn-danger' do
            %i.fa.fa-plus-circle
            Create a new category
        %li
          = link_to new_recipe_path, class: 'btn btn-danger' do
            %i.fa.fa-plus-circle
            Add a recipe
.row
  .col-12
    %h1 Browse Categories

.row
  = render @categories.in_use

- if @categories.not_used.any?
  .row
    .col-12
      = turbo_frame_tag "more_categories" do
        = link_to 'More Categories', more_categories_path, class: "btn btn-warning mb-3"
