- provide(:title, 'Categories')

.grid-x
  .small-12.cell
    = link_to recipes_path do
      %i.fa.fa-list
      Browse latest recipes

    .float-right
      = link_to new_category_path do
        %i.fa.fa-plus-circle
        Create a new category

.grid-x
  .small-12.cell
    %h1 Browse Categories

.grid-x
  = render @categories.in_use

- if @categories.not_used.any?
  .grid-x
    .small-12.cell
      = link_to 'More categories', '#', class: 'toggle hideShow', remote: true
      .hidden.hideShow
        = link_to 'Hide', '#', class: 'toggle', remote: true
        .grid-x
          = render @categories.not_used
