- provide(:title, 'Categories')

.grid-x
  .cell
    %ul.nav-buttons
      %li
        = link_to recipes_path, class: 'warning' do
          %i.fa.fa-list
          Browse latest recipes
      %ul
        %li
          = link_to new_category_path, class: 'alert' do
            %i.fa.fa-plus-circle
            Create a new category
        %li
          = link_to new_recipe_path, class: 'alert' do
            %i.fa.fa-plus-circle
            Add a recipe
.grid-x
  .small-12.cell
    %h1 Browse Categories

.grid-x
  = render @categories.in_use

- if @categories.not_used.any?
  .grid-x
    .cell
      = turbo_frame_tag "more_categories" do
        = link_to 'More Categories', more_categories_path, class: "button warning"
