.grid-x
  .small-12.cell
    - unless @category.in_use?
      .float-right
        = link_to 'Edit', edit_category_path(@category)
        or
        = link_to 'Destroy', @category, method: :delete, data: { confirm: 'Are you sure?' }
        Category
.grid-x.center
  .medium-6.cell
    %h1.center= @category.name

.grid-x
  = render @recipes

.grid-x
  .small-12.cell
    = paginate @recipes

    %ul.nav-links
      %li= link_to 'Categories', categories_path
