.row
  .small-12.columns
    .float-right
      = link_to 'Edit', edit_category_path(@category)
      or
      = link_to 'Destroy', @category, method: :delete, data: { confirm: 'Are you sure?' }
      Category
.row
  .small-12.columns
    %h1= @category.name
    - if @category.image_data?
      %p= image_tag @category.image_url(:banner)

    = render @category.recipes

    = link_to 'Back', categories_path
