.row
  .small-12.columns
    %h1= @category.name

    = render @category.recipes

    = link_to 'Edit', edit_category_path(@category)
    \|
    = link_to 'Destroy', @category, method: :delete, data: { confirm: 'Are you sure?' }
    \|
    = link_to 'Back', categories_path
