.row
  .small-12.columns
    .float-right
      = link_to 'Edit', edit_category_path(@category)
      or
      = link_to 'Destroy', @category, method: :delete, data: { confirm: 'Are you sure?' }
      Category
.row
  .medium-6.small-centered.columns
    %h1.center-text= @category.name

.row
  = render @category.recipes

.row
  .small-12.columns
    = link_to 'Back', categories_path
