.row
  .small-12.columns
    .float-right
      = link_to 'Edit', edit_category_path(@category)
      - unless @category.recipes.any?
        or
        = link_to 'Destroy', @category, method: :delete, data: { confirm: 'Are you sure?' }
      Category
.row
  .medium-6.small-centered.columns
    %h1.center= @category.name

.row
  = render @recipes

.row
  .small-12.columns
    = paginate @recipes
    %br/
    = link_to 'Categories', categories_path
