.grid-x
  .small-12.cell
    - unless @category.in_use?
      .float-right
        = link_to 'Edit', edit_category_path(@category)
        or
        = link_to 'Destroy', @category, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }
        Category
.grid-x
  .cell
    %h1= @category.name

.grid-x.small-up-1.medium-up-2.large-up-3
  = render @recipes

.grid-x
  .small-12.cell
    = paginate @recipes

    %ul.nav-links
      %li= link_to 'Categories', categories_path
