= form_with model: review, url: (review.new_record? ? user_recipe_reviews_path(recipe.user.slug, recipe.slug) : user_recipe_review_path(recipe.user.slug, recipe.slug, review.id)), id: "review_form_#{dom_id(review)}" do |f|
  = render 'notifications/error_messages', object: f.object

  .field.mb-3
    = f.label :body, 'What did you think?', class: "form-label", for: "review_body"
    = f.rich_text_area :body, rows: 3, id: 'review_body', class: "form-control"
  .actions
    = f.submit class: 'btn btn-primary'
