= turbo_frame_tag dom_id(review) do
  .callout
    .row.mb-1
      .col-8
        = link_to review.user, class: 'user-badge', data: { turbo_frame: "_top" } do
          = image_tag avatar_image(review.user.avatar, 35) if review.user.avatar.attached?
          = review.user.username
        %span.timestamp
          posted #{time_ago_in_words(review.created_at)} ago
      .col-4
        - if is_author?(review.user)
          %ul.edit_menu
            %li.nav-item
              = link_to [:edit, review.recipe, review], title: 'Edit', class: "nav-link" do
                %i.fas.fa-edit
                Edit
            %li.nav-item
              = link_to [review.recipe, review],
              data: { turbo_method: :delete,
                turbo_confirm: 'Are you sure you want to delete your review?' },
              remote: true, class: 'red-text nav-link', title: 'Delete' do
                %i.fas.fa-trash
    .row
      .col
        .trix-img-max= review.body
