%h1 Listing reviews
= render 'form', recipe: @recipe, review: @review
%table
  %thead
    %tr
      %th Body
      %th
      %th
      %th

  %tbody
    - @reviews.each do |review|
      - if review.persisted?
        %tr
          %td= review.body
          %td= link_to 'Show', [@recipe, review]
          %td= link_to 'Edit', edit_recipe_review_path(@recipe, review)
          %td= link_to 'Destroy', [@recipe, review], method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Review', new_recipe_review_path(@recipe)
