.top-bar
  .title-bar-left
    .title-bar-title
      .app-name= link_to 'Recipedia', root_path
  .title-bar-right
    %span{data: {hide_for: 'medium', responsive_toggle: 'responsive-menu'}}
      %span.menu-icon{data: {toggle: true}}
  #responsive-menu.top-bar-right
    %ul.menu.mainmenu.vertical.medium-horizontal{data: {responsive_menu: 'accordion medium-dropdown'}}
      %li
        = link_to recipes_path do
          %i.fa.fa-utensils
          Recipes
      - if user_signed_in?
        %li
          = link_to user_path(current_user) do
            %i.fa.fa-book
            My cookbook
            - if current_user.recipes.by_unpublished.any?
              %span.info-text= pluralize(current_user.recipes.by_unpublished.count, 'draft')
        %li
          = link_to notifications_path do
            %i.fas.fa-bell
            %span#unread_count.info-text{data: {unread_count: current_user.notifications.unread_count}}
        -# dropdown menu
        %li
          = link_to '#', remote: true do
            %i.fas.fa-user
            user
          %ul.menu.vertical
            %li
              = link_to edit_user_registration_path do
                %i.fa.fa-cog
                User
            %li
              = link_to destroy_user_session_path, method: :delete do
                %i.fa.fa-sign-out-alt
                Sign out
      - else
        %li
          = link_to new_user_session_path do
            %i.fa.fa-sign-in-alt
            Log in
        %li
          = link_to new_user_registration_path do
            %i.fa.fa-user-plus
            Sign up

        -# dropdown menu
        -# %li
        -#   = link_to 'dropdown link', '#', remote: true
        -#   %ul.menu.vertical
        -#     %li= link_to 'link#1', '#'
        -#     %li= link_to 'link#2', '#'
