.top-bar
  .title-bar-left
    .title-bar-title
      = link_to "Secret Ingredient", root_path
  .title-bar-right
    %span{data: {hide_for: 'medium', responsive_toggle: 'responsive-menu'}}
      %span.menu-icon{data: {toggle: true}}
  #responsive-menu
    .top-bar-right
      %ul.menu.mainmenu.vertical.medium-horizontal{data: {responsive_menu: 'accordion medium-dropdown'}}
        %li= link_to 'Recipes', recipes_path
        - if user_signed_in?
          %li
            = link_to edit_user_registration_path do
              User
              %i.fi-widget
          %li
            = link_to destroy_user_session_path, method: :delete do
              %i.fi-torso
              %i.fi-arrow-right
        - else
          %li= link_to 'Sign in', new_user_session_path

        -# dropdown menu
        -# %li
        -#   = link_to 'dropdown link', '#', remote: true
        -#   %ul.menu.vertical
        -#     %li= link_to 'link#1', '#'
        -#     %li= link_to 'link#2', '#'
