!!!
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}/
    %meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}/

    = favicon_link_tag('favicon.png')
    %title= content_for?(:title) ? "Recipedia | #{yield(:title)}" : 'Recipedia'

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags
  %body
    #wrap
      = render 'layouts/top_bar'

      #main
        = render 'notifications/flash_messages'
        = yield
        -# Render a page print footer on every printed page
        = render 'layouts/print_footer'

    = render 'layouts/footer'
