!!!
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}/
    %meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}/

    = favicon_link_tag('favicon.png')
    %title= content_for?(:title) ? "Tattooed Housewife | #{yield(:title)}" : 'Tattooed Housewife'

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags
  %body
    #wrap
      = render 'layouts/top_bar'

      #main
        = render 'notifications/flash_messages'
        = yield

    = render 'layouts/footer'
